body {
    background-image: url(../img/bg_body.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#container {
    width: 1100px;
    height: auto;
    margin: 0px auto;
    padding: 10px;
}

.notif {
    color: white;
    font-family: montserrat;
    background: red;
    width: 337px;
    height: 21px;
    position: relative;
    top: 138px;
    left: 381px;
    text-align: center;
}

#container #signin_form {
    width: 280px;
    height: 273px;
    background: rgb(176, 196, 222, 0.5);
    border-radius: 10px;
    padding: 30px;
    margin-top: 138px;
    margin-left: auto;
    margin-right: auto;
}

#signin_form .element_form {
    margin-bottom: 30px;
}

.element_form h2 {
    color: white;
    font-family: montserrat;
    text-align: center;
    margin-top: 0px;
}

.element_form label {
    color: white;
    font-family: montserrat;
}

.element_form input[type="text"],
.element_form input[type="password"] {
    background: none;
    border-left: none;
    border-top: none;
    border-right: none;
    width: 180px;
    margin-left: 15px;
    font-size: 17px;
    font-weight: bold;
}

.element_form #icon {
    margin-left: 29px;
    position: relative;
    bottom: -6px;
}

input[type="checkbox"] {
    margin-left: 32px;
    position: relative;
    top: 2px;
    cursor: pointer;
}

.element_form input[type="submit"] {
    background: rgb(255, 255, 255, 0.8);
    border: none;
    width: 280px;
    height: 42px;
    font-size: 20px;
    font-family: montserrat;
    text-transform: uppercase;
    color: grey;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.8s;
}

.element_form input[type="submit"]:hover {
    background: #DA70D6;
    color: white;
}

#menu {
    text-align: center;
    background: rgb(255, 255, 255, 0.9);
    height: 50px;
    margin-top: -19px;
}

#menu a {
    color: #ff915f;
    font-family: montserrat;
    text-decoration: none;
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
    top: 15px;
}

#home_content {
    text-align: center;
    margin-top: 110px;
}

.element_home {
    font-family: montserrat;
}

.element_home span {
    text-transform: capitalize;
}

.element_home input[type="submit"] {
    background: #322f56;
    border: none;
    width: 195px;
    height: 40px;
    font-size: 20px;
    font-family: montserrat;
    text-transform: uppercase;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.8s;
}

.element_home input[type="submit"]:hover {
    background: rgb(50, 47, 164);
}